<div id="admin">
	<p><%= link_to "<< Tilbake", '/admin'%></p><br/>
	<div id="panel">
<img src="https://dl.dropbox.com/u/7238474/Ullerntennisbilder/stock-box.jpg" alt="pic" class="left" />
<h1>Sideboks administrasjon</h1>
</div>
<div id="plusswrapper">
<a href="/sidebox/new"><img class="pluss" src="https://dl.dropbox.com/u/7238474/Ullerntennisbilder/green_plus_add.png" alt="pluss"/>
</a>
<h3><%= link_to 'Legg til ny sideboks', new_sidebox_path %></h3>
</div>

<table class="pages" style="border-collapse: collapse;">
	<tr>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		
	</tr>
	<% num = 1 %>
	<% for m in @sideboxes %>
	
	<tr>
		<td style="text-align: left;"><a href="<%= edit_sidebox_path (m) %>"><%= m.title%></a></td>
		<td><a href="<%= edit_sidebox_path (m) %>">Rediger</a></td>
		<td><%= link_to "Slett", m, :confirm => 'Are you sure?', :method => :delete %></td>
		<td><%= link_to "Vis", m %></td>
	</tr>

	
	<% end %>

</table>
</div>