<%= form_for @menubutton do |f| %>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
  	<%= f.label :inorder %><br/>
  	<%= f.number_field :inorder%>
  </p>
  <p><%= f.submit %></p>
<% end %>
