<div id="admin">
	<p><%= link_to "<< Tilbake", '/pagesadmin'%></p><br/>
	<div id="panel">
<img src="https://dl.dropbox.com/u/7238474/Ullerntennisbilder/Anonymous_Text_Page_Icon.png" alt="pic" class="left" />
<h1><%= @menubutton.title %> administrasjon</h1>
</div>
<div id="plusswrapper">
<a href="/articles/new"><img class="pluss" src="https://dl.dropbox.com/u/7238474/Ullerntennisbilder/green_plus_add.png" alt="pluss"/>
</a>
<h3><%= link_to 'Legg til ny underside', new_submenubutton_path %></h3>
</div>
<% if @menubutton.submenubuttons != 0%>

<% @menubutton.submenubuttons.each do |a|%>
	<table class="pages" style="border-collapse:collapse;">
		
		<tr>
			<td style="text-align: left;"><%= link_to a.title, edit_submenubutton_path(a)%></td>
			<td><%= link_to 'Rediger',edit_submenubutton_path(a) %></td>
			<td><%= link_to 'Vis', a%></td>
			<td><%= link_to 'Slett', a, :confirm => 'Er du sikker? Dette vil slette denne siden og alle undersider.', :method => :delete%></td>
		</tr>
		<% if a.subpages.size != 0 %>
			<% a.subpages.each do |s|%>
			
			<tr>
				<td ><%= link_to s.title, edit_subpage_path(s)%></td>
				<td><%= link_to 'Rediger',edit_submenubutton_path(s) %></td>
				<td><%= link_to 'Vis', s%></td>
				<td><%= link_to 'Slett', s, :confirm => 'Er du sikker?', :method => :delete%></td>
			</tr>
			
			<% end%>
		<% end%>
		
	</table>
	

	
	
	<% end %>
	<% end %>



</div>
