<div id="news">
	
<% n = 0 %>
<% for a in @articles %>
<% if a.ingress.empty? %>
<% ingress = simple_format a.content %>
<% else %>
<% ingress = a.ingress %>
<% end %>
<% if a == @articles.first %>

<div id="section">
	<div id="head_news">
		<a href="articles/<%= a.id%>"><h1><%= a.title %></h1></a>
		<% if ! a.picture.empty? %><a href="articles/<%= a.id%>"><img src="<%= a.picture %>" alt="bilde"/></a><% end %>
		
		<small><%= a.author+ " " + a.created_at.strftime("%d %b. %Y") %></small>
			<p>
				<%= simple_format ingress.truncate(128) %>
			</p>
			<%= link_to "Les mer...", a%>
	</div>
</div>




<% elsif n < 4 %>
<div id="section">
			<% if ! a.picture.empty? %><div id="image">
			<a href="articles/<%= a.id%>"><img src="<%= a.picture %>" alt="bilde"/></a>
			
			</div><%end%>
			<div id="ingress" <% if  a.picture.empty?%> style="width:540px;"<%end%>>
			<a href="articles/<%= a.id%>"><h2><%= a.title %></h2></a>
			<small><%= a.author + " " + a.created_at.strftime("%d %b. %Y") %></small>
				<p>
			<%= simple_format ingress.truncate(128) %>
			 </p>
			 <%= link_to "Les mer...", a%>
			 </div>

</div>
<% else %>

	<div id="old_news">
	<a href="articles/<%= a.id%>"><img src="<%= a.picture %>" alt="bilde"/>
	<h3><%= a.title %></h3></a>
	</div>

<% end %>
<% n += 1%>
<% end %>
<div id="pagination_wrapper">
<div class="flickr_pagination">
<%= will_paginate @articles, previous_label: "Forrige", next_label: "Neste" %>
</div>
</div>

</div>
