<%= form_for @submenubutton do |f| %>

  <p>
    <%= f.label "Tittle" %><br />
    <%= f.text_field :title %>
  </p>
    <p>
  	<h3>Plassering</h3>
  	<%= f.collection_select(:menubutton_id, Menubutton.all, :id, :title) %>
  	
  
  </p>
  <p>
    <%= f.label "Innhold" %><br />
    <%= f.text_area :content, :class => "tinymce", :rows => 20, :cols => 65 %>
    <%= tinymce %>
  </p>

  <p><%= f.submit "Largre" %></p>
<% end %>
