<% "Events" %>

	<h2>Aktiviteter</h2>
					<%  @events = Event.find(:all, :conditions => ["dateofevent between ? and ?",Date.today, Date.today.next_month.next_month.end_of_month],:order => 'dateofevent') %>
					
					<h5><%= humanDate Date.today.month %></h5>
					<% @events.each do |e|%>
					<% if e.dateofevent.month == Date.today.month %>
	
					<%= e.dateofevent.day %>-<%= e.endofevent.day %>.<%= e.endofevent.year%>
					<a href="/events/<%= e.id %>"><%= e.title %></a><br/>
					<% end %>
					<% end %>
					
					<h5><%= humanDate Date.today.next_month.month %></h5>
					<% @events.each do |e|%>
					<%  if e.dateofevent.month == Date.today.next_month.month %>
					
					<%= e.dateofevent.day %>-<%= e.endofevent.day %>.<%= e.endofevent.year%>
					<a href="/events/<%= e.id %>"><%= e.title %></a><br/>
					<% end %>
					<% end %>
					<h5><%= humanDate Date.today.next_month.next_month.month %></h5>
					<% @events.each do |e|%>
					<%  if e.dateofevent.month == Date.today.next_month.next_month.month %>
					
					<%= e.dateofevent.day %>-<%= e.endofevent.day %>.<%= e.endofevent.year%>
					<a href="/events/<%= e.id %>"><%= e.title %></a><br/>
					<% end %>
					<% end %>
					<h5><%= humanDate Date.today.next_month.next_month.next_month.month %></h5>
					<% @events.each do |e|%>
					<%  if e.dateofevent.month == Date.today.next_month.next_month.next_month.month %>
					
					<%= e.dateofevent.day %>-<%= e.endofevent.day %>.<%= e.endofevent.year%>
					<a href="/events/<%= e.id %>"><%= e.title %></a><br/>
					<% end %>
					<% end %>
					<h5><%= humanDate Date.today.next_month.next_month.next_month.next_month.month %></h5>
					<% @events.each do |e|%>
					<%  if e.dateofevent.month == Date.today.next_month.next_month.next_month.next_month.month %>
					
					<%= e.dateofevent.day %>-<%= e.endofevent.day %>.<%= e.endofevent.year%>
					<a href="/events/<%= e.id %>"><%= e.title %></a><br/>
					<% end %>
					<% end %>

