


<h1>  <%= @event.title %></h1>


<p>  <%= @event.dateofevent.day %>-<%= @event.endofevent.day %>.<%= @event.endofevent.month %>.<%= @event.endofevent.year%></p>

<br/>

  <%= @event.content %>


<p>
  <%= link_to "Se alle", events_path %>
</p>
