<%= form_for @player do |f| %>

  <p>
    <%= f.label "Fornavn" %><br />
    <%= f.text_field :fname %>
  </p>
  <p>
    <%= f.label "Etternavn" %><br />
    <%= f.text_field :lname %>
  </p>
    <p>
  	<%= f.radio_button :gender, 'Male'%>
  	<%= f.label "Gutt" %>
  	<%= f.radio_button :gender, 'Female'%>
  	<%= f.label "Jente"%>
  </p>
  <p>
    <%= f.label "Fødselsdato" %><br />
    <%= f.date_select :birth, :start_year => Time.now.year - 18, :end_year => Time.now.year - 5%>
  </p>
  

  <p><%= f.submit "Lagre" %></p>
<% end %>
