<% sub = Submenubutton.find(@subpage.submenubutton_id)%>
<% if sub.subpages.size != 0 %>
<div id="sublinks">
	<%= link_to sub.title, sub, :class => 'other' %>
</div>
	<% sub.subpages.each do |s| %>
	<div id="sublinks">
		<% if s == @subpage %>
		<%= link_to s.title, s, :class => 'at' %>
		<% else %>
		<%= link_to s.title, s, :class => 'other'%>
		<% end %>
			</div>
	<% end %>
	<% if sub.title == "Team Ullern"%>
		<div id="sublinks">
			<%= link_to 'Spillere', players_path, :class => 'other'%>
		</div>
	<% end %>

<% end %>



<div id="content">

<h1>
	<%=  @subpage.title %>
</h1>


	<%= raw @subpage.content %>

</div>
