<% "Subpage" %>

<p>
  <strong>Title:</strong>
  <%= @subpage.title %>
</p>
<p>
  <strong>Content:</strong>
  <%= @subpage.content %>
</p>

<p>
  <%= link_to "Edit", edit_subpage_path(@subpage) %> |
  <%= link_to "Destroy", @subpage, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", subpages_path %>
</p>
