<!DOCTYPE html>
<html>
	<head>
		<title>UllernTennis</title>
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
		<%= tinymce_assets %>
	</head>
	<body>

		<div id="headerWrapper">

			<div id="wrapper">
				<%if current_user %><span style="float:right; margin-right: 20px;"><%= link_to "Logg ut", "/logout"%></span><% end %>
				<div id="header">
					<h1 style="color:#fff; margin:70px 0 0 40px; "> Administrasjonspanel </h1>
				</div>

				<div id="nav">
					<ul id="sddm">
						<li>
							<%= link_to 'Hjem', articles_path %>
						</li>

						<li>
							<%= link_to 'Admin', '/admin' %>
						</li>

					</ul>
					<% n = 1 %>
					<% Menubutton.find(:all, :order => 'inorder ASC').each do |m|%>

					<ul id="sddm">

						<li>
							<a href="#"
							onmouseover="mopen('m<%= n %>')"
							onmouseout="mclosetime()"><%= m.title%></a>
							<% if m.submenubuttons != 0 %>
							<div id="m<%= n %>" onmouseover="mcancelclosetime()"
							onmouseout="mclosetime()">
								<% m.submenubuttons.each do |s| %>
								<%= link_to s.title, s %>
								<% end %>
							</div>
							<% end%>
						</li>
					</ul>
					<% n+= 1 %>
					<% end %>
					<div style="clear:both"></div>

				</div>
				<% flash.each do |key, value| %>
				<div class="flash<%= key  %>">
					<h3><%= value %></h3>
				</div>
				<% end %>
				<div id="article">

					<div id="admin">
						<%= yield %>
					</div>

				</div>
				<div id="footer">
					<p>
					
					</p>
				</div>

			</div>
		</div>

	</body>
</html>
