<!DOCTYPE html>
<html>
	<head>
		<title>UllernTennis</title>
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
		<%= tinymce_assets %>
	
	</head>

	<body onload="change('img')">
		<!--[if IE]><style>
		body{
		background-color:#787878;
		}
		
		</style><![endif]-->

		<div id="headerWrapper">

			<div id="wrapper">
				<!--[if IE]>
					<div style="float:left;padding:5px;">
					<a href="http://stormy-thicket-5517.herokuapp.com" target="_blank" style="font-size:15px; padding:5px; background:#a1f43d;">Du bruker Internet Explorer og dermed kan det være problemer med side visningen. Hvis siden ikke ser bra ut trykk her for å få en tilpasset layout.</a>
				</div>
					<![endif]-->
				<%if current_user %> <span style="float:right; margin-right: 20px;"><%= link_to "Logg ut", "/logout"%></span><% end %>
				<header>
					<img style="float:left;margin:15px 0 0 15px;" src="https://dl.dropbox.com/u/7238474/Ullerntennisbilder/ballullern.png" alt="logo"/>
					<div  onmouseover="change('img')" style="margin:15px 0 0 65px;width:600px;height:140px; float:left;background-image: url('https://dl.dropbox.com/u/7238474/Ullerntennisbilder/bane.png');">
						<img name="img" style="float:right;" src="https://dl.dropbox.com/u/7238474/Ullerntennisbilder/incourt.png" alt="logo"/>

					</div>
					<img style="float:right;margin:15px 15px 0 0;" src="https://dl.dropbox.com/u/7238474/Ullerntennisbilder/ballullern.png" alt="logo"/>
				</header>

				<nav>
					<ul id="sddm">
						<li>
							<%= link_to 'Hjem', articles_path %>
						</li>
					</ul>
					<ul id="sddm">
						<% if current_user %>
						<li>
							<%= link_to 'Admin', '/admin' %>
						</li>
						<% end %>
					</ul>
					<% n = 1 %>
					<% Menubutton.find(:all,:order => 'inorder ASC').each do |m|%>
					<% title = m.title %>
					<ul id="sddm">

						<li>
							<a href="javascript:void(0)" 
							onmouseover="mopen('m<%= n %>')" onmouseout="mclosetime()"><%= m.title%></a>

							<% if m.submenubuttons != 0 %>
							<div id="m<%= n %>" onmouseover="mcancelclosetime()"
							onmouseout="mclosetime()">
								
								<% m.submenubuttons.each do |s| %>

								<%= link_to s.title, s %>
								<% end %>

							</div>
							<% end%>
						</li>
					</ul>
					<% n+= 1 %>
					<% end %>
					<div style="clear:both"></div>

				</nav>
				<% flash.each do |key, value| %>
				<div class="flash<%= key  %>">
					<h3><%= value %></h3>
				</div>
				<% end %>
				<article>

					<div id="center">
						<%= yield %>
					</div>
				
					<div id="big-bar-wrap">
						<% if Sidebox.find_by_inorder(-1)%>
						<div id="big-bar">
							<% box = Sidebox.find_by_inorder(-1)%>
							<h2><%= box.title%></h2>
							<%= simple_format box.content %>
						</div>
						<% end %>
						<div id="big-bar" >
							<h2>Aktiviteter</h2>
							<% @events = Event.find(:all, :conditions => ["dateofevent between ? and ?",Date.today, Date.today.next_month.end_of_month], :order => 'dateofevent') %>

							<h5><%= humanDate Date.today.month %></h5>
							<% @events.each do |e|%>
							<% if e.dateofevent.month == Date.today.month %>
							<div class="small-event">
								<div class="date-holder">
							<% if e.dateofevent.day == e.endofevent.day %>
								<b><%= e.dateofevent.day %></b>
							<% else%>
							<b><%= e.dateofevent.day %>-<%= e.endofevent.day %></b>
							<% end %>
								</div>
								<div class="event-title">
							<a href="/events/<%= e.id %>"><%= e.title %></a>
								</div>
							</div>
							<% end %>
							<% end %>

							<h5><%= humanDate Date.today.next_month.month %></h5>
							<% @events.each do |e|%>
							<%  if e.dateofevent.month == Date.today.next_month.month %>
							<div class="small-event">
								<div class="date-holder">
							<% if e.dateofevent.day == e.endofevent.day %>
								<b><%= e.dateofevent.day %></b>
							<% else%>
							<b><%= e.dateofevent.day %>-<%= e.endofevent.day %></b>
							<% end %>
							</div>
								<div class="event-title">
							<a href="/events/<%= e.id %>"><%= e.title %></a>
								</div>
							</div>
							<% end %>
							<% end %>
							
							<%= link_to "Vis alle", events_path%>
							
						</div>
						<div id="big-bar">
							<h2>Bestille innebane</h2>
						<a href="http://www.senserio.com/default.aspx?ID=119" target="_blank">
							<img src="https://dl.dropbox.com/u/7238474/Ullerntennisbilder/calendar_icon1.png" alt="picture" /> </a>
						</div>
							<% Sidebox.find(:all, :order => 'inorder ASC').each do |box| %>
							<% if box.inorder > -1 && box.position != "small"%>
								
							<div id="big-bar">
								<h2><%= box.title %></h2>
								<%= simple_format box.content %>
							</div>
							<% end %>
							
							<% end %>
						

						
						<div id="end"></div>
					</div>
						<% Sidebox.find(:all, :order => 'inorder ASC').each do |box| %>
							<% if box.inorder > -1 && box.position ==  "small" %>
						
						<div id="small-bar">
						 <h2><%= box.title %></h2>
						 <%= simple_format box.content %>
						</div>
						<% end %>
						<% end %>
					
				</article>
			
				<footer>
					<div id="footer-search">
						
					</div>
					<div id="main-footer">

						<div id="main-footer-img">
							<img src="https://dl.dropbox.com/u/7238474/Ullerntennisbilder/ballullern.png">
						</div>
						<div id="main-footer-text">
							<h2>Kontaktinformasjon</h2>
							<% if Contactinfo.find(:all).count > 0 %>
							<% info = Contactinfo.find(1)%>
							<p>
								Kontaktperson: <%= info.contactperson %>
							</p>
							<p>
								Telefon: <%= info.telf %>
							</p>
							<p>
								E-post: <a href="mailto:<%= info.email%>"><%= info.email%></a>
							</p>
							<p>
								Adresse: <%= info.street %> <%= info.postalcode%>
							</p>
							<p>
								<%= simple_format info.content%>
							</p>
							<% end %>
						</div>
					</div>

					<div class="footer-break">
						<h2>Sidekart</h2>
						<hr/>
					</div>
					<% Menubutton.find(:all).each do |m|%>
					<div id="footer-content">
						<h3><%= m.title %></h3>
						<% m.submenubuttons.each do |s|%>
						<p>
							<%= link_to s.title, s %>
						</p>

						<% end %>
					</div>
					<% end %>

				</footer>

			</div>
		</div>
		<!--[if IE]><style>
		#admin{
	width:960px;
	height:auto;
	float:left;
	padding:5px 0 20px 5px;

}

.avatar{

	width:100px;
	height:100px;
}
.pluss{
	float:left;	
	margin:20px 5px 20px 20px;
	width:30px;
	height:30px;
}
#plusswrapper{
	float:left;
	width:100%;
}
#plusswrapper h3 {
	margin:25px 0 0 0;
}
#plusswrapper a{
	color:#EA2E49;
	text-decoration: none;
}

#admin td{
	
	text-align: center;	
}

#admin tr td{
	width:200px;
}

.left{
	float:left;
	height:100px;
	margin:0px 5px 15px 0px;
}



#panel{
	float:left;
	width:100%;
}
table.pages{
	margin:0 auto;
}



table.pages tr:hover{
	background: #49A3FF;
}

table.pages tr {
	height:40px;
	font-size: 18px;
	background:#EAEBD8;
}

table.pages tr a {
	color:#000;
}

table.pages td{
	padding:10px;
}



/* colors #5A668C, #A7BDD9,#E9F2EF, #172601, #475920*/

body {
	font-family: "Times New Roman", Georgia, Serif;
	background-image: url('https://dl.dropbox.com/u/7238474/Ullerntennisbilder/bg-body.gif');
	
}
h1, h2, h3, h4, h5 {
	/*color: #EA2E49;*/
	color:#123076;
}
img {
	border: none;
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
a:visited{
	color:#0645AD ;
}
#headerWrapper {
	width: 100%;
	height: 180px;

}

#wrapper {
	width: 960px;
	margin: 40px auto;
	position: relative;
	color: #000;

	
}

header {
	float: left;
	width: 960px;
	height: 180px;
	background-color: #5377ca;
	border-radius:10px 10px 0 0;
}

nav {
	float: left;
	width: 960px;
	height: 40px;
	background-color: #5377ca;
	/*background-color: #3B4741;*/
	border-bottom: 0px;
}

.flashnotice{
	float: left;
	width: 960px;
	height: auto;
	background: #a1f43d;	
}
.flashnotice h3{
	padding:3px;
}

article {
	float: left;
	width: 960px;
	height: auto;
	padding: 10px 0 0 0;
	background: #fff;
	padding-bottom:20px;

}
#news a {
	text-decoration: none;
}
#head_news img {
	width: 530px;
	height: 350px;
}
section {
	width: 540px;
	padding: 2px 2px 15px 2px;
	float: left;
	border-bottom: 1px solid #a3a3a3;
	margin-bottom: 10px;
}
section img {
	width: 215px;
	height: 150px;
	margin-top: 20px;
}


section small {
	font-style: italic;
}

#small-bar {
	float: left;
	width: 150px;
	height: auto;
	border: 1px solid #a3a3a3;
	border-left: none;
}

#small-bar p {
	padding:0 0 0 5px;
}
#small-bar img {
	width: 140px;
	margin-bottom: 5px;
	padding-left: 5px;
}
#small-bar h1, h2 {
	padding-left: 5px;
}
#center {
	float: left;
	width: 550px;
	height: auto;
	padding: 0 0 0 20px;
}
#center p {
	padding: 5px 20px 0 0;
}
#center h1 {
	font-size: 32px;
	margin-top: 0px;
	margin-bottom: 0;
}
#center h3 {

	margin-bottom: 0;
}
#big-bar-wrap {
	float: left;
	width: 225px;
	height: auto;
}
#big-bar {
	float: left;
	width: 218px;
	padding: 0 0 10px 5px;
	border: 1px solid #a3a3a3;
	border-bottom: none;
}


#big-bar img {
	width: 210px;
	height: 150px;
}
#big-bar h5{
	margin:0 0 10px 0;
}

#end{
	float: left;
	width: 225px;
	border-top:none;
	border-right:none;
	border-left: none;
	border-bottom:1px solid #A3A3A3; 
}
.small-event{
	width:215px;
	float:left;
	margin:5px 0 5px 0;
}
.date-holder{
	float:left;
	width:40px;
	margin:0 5px 0 0;
}

.event-title{
	float:left;
	width: 165px;
}
footer {
	float: left;
	width: 960px;
	margin:0 auto;
	margin-bottom:20px;
	padding:0 0 20px 0px;
	height: auto;
	text-align: center;
	color: #fff;
	border-radius:0 0 10px 10px;
	background-color: #5377ca;
}

#main-footer{
	width:500px;
	text-align:left;
	padding: 10px;
	margin: 0 0px 30px 0;
}


#main-footer-img{
	width: 60px;
	height: 60px;
	float: left;
}
#main-footer-img img {
	width:59px;
	height: 59px;
}

#main-footer-text{
	
	margin: 0 0 0 80px;
}
#main-footer-text h2 {
	margin-bottom: 4px;
}
#main-footer-text p {
	margin: 0 0 0 10px;
}
#main-footer-text a {
	color:#fff;
	text-decoration: underline;
}

#footer-search{
	width:300px;
	float:right;
	height:100px;
	margin:30px 10px 0 0;
	text-align: left;
}
#footer-search h2{
	margin: 0;
}
.searchbox{
	width:200px;
	float:left;
	font-size: 16px;
	padding:8px;

}
.searchbutton{
	padding:8px;
	float: left;
 
}
.footer-break{
	width: 95%;
	margin: 0 auto;
}
.footer-break h2 {
	margin:0;
}
.footer-break hr{
	margin-top:0px;
}
#footer-content{
	width:150px;
	float:left;
}

#footer-content h3 {
	
	margin:0px;
}
#footer-content a{
	color:#fff;
}
#player{
	float:left;
}
#player table th {
	text-align: left;
}
#player table th, td {

	width:300px;
}
/* Typografi */

p {
	font-size: 16px;
	line-height: 1.4em;
	margin:0px;
}


#gallerywrapper{
	margin-top:20px;
	margin-bottom:50px;
	float:left;
}
#main_image{
	max-width:520px;
	max-height:350px;
	
}

#thumbwrapper{
	width:520px;
}
.thumb img{
	width:104px;
	height:80px;
	float:left;
}

#index_gallery{
	float:left;
	width: 220px;
	padding: 5px;
}

#index_gallery img{
	max-width:210px;
	
}
#article_header {
	float:left;
	width:530px;
}

#article_header img{
	width:530px;
	height:350px;
}

#article_header small{
	font-style:italic;
}

#article_content img{
	float:left;
	width:285px;
	height:220px;
	padding:5px 10px 0px 0px;
}

#edit_field{
	width:700px;
	margin:0 0 0 20px;
}
#ingress {
	width: 320px;
	float: left;
	padding-left: 5px;
}
#ingress h2{
	margin:20px 0 0 -4px;
}
#pagination_wrapper {
	width:550px;
	margin:10px 0 20px 0;
	float:left;
}
#old_news {
	margin-top: 15px;
	float: left;
	width: 180px;
}

#old_news h3 {
	margin-top: -5px;
	margin-left: 5px;
}
#old_news img {
	width: 175px;
	height: 100px;
}
#image {
	width: 215px;
	float: left;
	margin:0 0 15px 0;
}
#sddm
{	margin: 0;
	padding: 0;
	z-index: 30;
}

#sddm li
{	margin: 0;
	padding: 0;
	list-style: none;
	float: left;	
	font: bold 11px arial}

#sddm li a
{	display: block;
	margin: 0 0px 0 0;
	padding:11px;
	width: auto;
	border-right:1px solid #fff;
	border-top:1px solid #fff;
	background-color: #123076;
	/*background-color: #3B4741;*/
	color: #FFF;
	font-size:16px;
	font-weight:normal;
	text-align: center;
	text-decoration: none}

#sddm li a:hover
{	background: #223d7b;
	color:#fff;}

#sddm div
{	position: absolute;
	visibility: hidden;

	padding: 0;
	background: #EAEBD8;
	border: 1px solid #5970B2}

	#sddm div a
	{	position: relative;
		display: block;
		margin: 0;
		padding: 5px 10px;
		min-width: 100px;
		height:15px;
		white-space: nowrap;
		text-align: left;
		text-decoration: none;
		background: #5377ca;
		color: #fff;
		font: 12px arial}

	#sddm div a:hover
	{	background: #123076;
		color: #FFF}#sublinks{
	float:left;
}

#sublinks a {
	width:auto;

	color:#fff;
	padding:5px;
	display:block;
	text-decoration:none;	
}

#content{
	float:left;
	margin:15px 0 0 0;
}

#content img{
	float:left;
	max-width:300px;
	max-height:350px;
	padding-right:10px;
	
}

.at {
	background:#5377ca;
}

.at:hover{
	background:#5377ca;
}
.other{
	background:#123076;
}

.other:hover{
	background:#5377ca;
}
.flickr_pagination {
  text-align: center;
  padding: 0.3em;
  cursor: default; }
  .flickr_pagination a, .flickr_pagination span, .flickr_pagination em {
    padding: 0.2em 0.5em; }
  .flickr_pagination .disabled {
    color: #aaaaaa; }
  .flickr_pagination .current {
    font-style: normal;
    font-weight: bold;
    color: #EA2E49; }
  .flickr_pagination a {
    border: 1px solid #dddddd;
    color: #0063dc;
    text-decoration: none; }
    .flickr_pagination a:hover, .flickr_pagination a:focus {
      
      background: #49A3FF;
      color: white; }
  .flickr_pagination .page_info {
    color: #aaaaaa;
    padding-top: 0.8em; }
  .flickr_pagination .previous_page, .flickr_pagination .next_page {
    border-width: 2px; }
  .flickr_pagination .previous_page {
    margin-right: 1em; }
  .flickr_pagination .next_page {
    margin-left: 1em; }
		</style><![endif]-->
	</body>
</html>
